body {
    background-color: #e9e9f6;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
img{
	max-width: 100%;
}
.logo{
	    text-align: center;
	    width: 150px;
	    margin: auto;
	}
.box1{
	margin: auto;
    padding: 2%;
    width: 50%;
    text-align: justify;
	}
.box2{
}
.box3{
    text-align: center;
    background-color: #386538;
    padding: 5%;
    color: #e5e5e5;

}
.para{
}
.blue{
    color: #5858dd;
}
.red{
    color: #ff3f3f;
}
.green{
    color: #43c443;
}
.yellow{
    color: #dddd08;
}
.banner {
    text-align: center;
    width: 100%;
}
