body {
    background-color: #e9e9f6;
}
img{
	max-width: 100%;
}
.logo{
	    text-align: center;
	    width: 150px;
	    padding-top: 15px;
	}
.box1{
    padding: 15px;
    max-width: 368px;
    box-sizing: border-box;
	}
.box2{
}
.box3{
    background-color: #386538;
    padding: 36px;
    color: #e5e5e5;
    text-align: center;
    box-sizing: border-box;

}
.para{
	text-align: justify;
}
.blue{
    color: #5858dd;
}
.red{
    color: #ff3f3f;
}
.green{
    color: #43c443;
}
.yellow{
    color: #dddd08;
}
.banner {
    text-align: center;
}
div{
	max-width: 720px;
	margin: auto;
}